button {
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    border-radius:8px;
    padding-left:50px;
    padding-right:50px;
    padding-top:5px;
    padding-bottom:5px;
    color:#ffffff;
    background-color:#199c08;
    outline:none;
    border:none;
    cursor:pointer;
    display:inline-block;
    text-decoration: none;
    transition: .4s;
    }
    
    button:hover {
    color:#ffffff;
    background-color:#035c0f;
    }